@use '/style/abstract' as *;

$burger: '830px';

@mixin center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.anal-intro {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-block: rem(23) rem(10);

	&__phone {
		color: #000;
		display: block;
		font-family: $f-roboto;
		font-size: rem(20);
		font-weight: 700;
		margin-top: 16px;
		text-align: center;
		@include respond-above($burger) {
			display: none;
		}
	}

	&__button {
		display: block;
		margin: 0 auto;
		@include respond-above($burger) {
			display: none;
		}
	}

	&__address {
		background: rgba(51, 28, 14, 0.61);
		color: #fff;
		font-family: $f-ibm;
		font-size: rem(14);
		font-style: normal;
		font-weight: 600;
		margin-top: rem(8);
		padding: 10px;
		text-align: center;

		// transform: translateX(50%);
		// filter: blur(2px);
		@include respond-above($burger) {
			display: none;
		}
	}
}

.anal-circle {
	--m: 8;
	--tan: 2;
	--d: 9em;
	--rel: 1; /* how much extra space we want between images, 1 = one image size */
	--r: calc(0.5 * (1 + var(--rel)) * var(--d) / var(--tan)); /* circle radius */
	--s: calc(2 * var(--r) + var(--d)); /* container size */
	background-image: url('/assets/intro/7ya.svg');
	background-position: center 50%;
	background-repeat: no-repeat;
	background-size: contain;
	height: var(--s);
	position: relative;
	width: var(--s);
	@include respond-above($burger) {
		--m: 8;
		--d: 9.4em;
		--rel: 1;
		--d: 9em;
		background-image: url('/assets/intro/blue.png');
	}

	&__item {
		--shift: 49px;
		--az: calc(var(--i) * 1turn / var(--m));
		height: var(--d);
		left: 53%;
		margin: calc(-0.5 * var(--d));
		position: absolute;
		top: 71%;
		transform: rotate(var(--az)) translate(calc(var(--r) + var(--shift)))
			rotate(calc(-1 * var(--az)));
		width: var(--d);

		@include respond-above($burger) {
			--shift: 50%;
			top: 48%;
		}
		@include respond-above('1230px') {
			// top: 32%;
			// left: 41%;
		}
	}

	&__krov {
		--i: 4;
		max-width: 7em;
		@include respond-above($burger) {
			--i: 5;
		}
	}

	&__imun {
		--i: 3;
		@include respond-above($burger) {
			--i: 4;
		}
	}

	&__sver {
		--i: 2;
		@include respond-above($burger) {
			--i: 3;
		}
	}

	&__lek {
		--i: 1;
		@include respond-above($burger) {
			--i: 1;
		}
	}

	&__fact {
		--i: 0;
		max-width: 8em;
		@include respond-above($burger) {
			--i: 0;
		}
	}

	&__figure {
		align-items: center;
		display: flex;
		flex-direction: column;
		@include respond-above($burger) {
			display: block;
			height: var(--d);
			position: relative;
			width: var(--d);
		}
	}

	&__text {
		color: #fff;
		font-family: $f-roboto;
		font-size: rem(12);
		font-weight: 700;
		text-align: center;
		@include respond-above($burger) {
			@include center;
			flex-shrink: 0;
			font-size: 1rem;
			font-weight: 600;
			position: absolute;
		}
		@include respond-below('1100px') {
			max-width: 20ch;
		}
	}

	&__buble {
		flex-shrink: 0;
		height: 24px;
		overflow: visible;
		width: 24px;

		@include respond-above($burger) {
			height: 100%;
			width: 100%;
		}
	}

	&__buble > circle:hover {
		filter: blur(1px);
	}

	&__center-text {
		@include center;
		color: #fff;
		font-family: 'Roboto';
		font-size: 24px;
		font-weight: 500;
		line-height: 28px;
		text-align: center;
		top: 40%;

		@include respond-above($burger) {
			font-size: 50px;
			font-weight: 700;
		}
	}
}

.analmob {
	display: flex;
	gap: 7px;
	margin-top: 50px;
	padding-top: 5px;
	position: relative;
	@include respond-above($burger) {
		display: none;
	}

	&__item {
		align-items: center;
		color: #fff;
		display: flex;
		font-family: $f-ibm;
		font-size: 12px;
		font-weight: 700;
		gap: 3px;
	}

	&__item a {
		color: inherit;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 5px;
		z-index: 1;
	}
}

.blurbg {
	background: rgba(51, 28, 14, 0.61);
	filter: blur(2px);
	inset: 0;
	margin-bottom: -10px;
	margin-left: -50vw;
	margin-right: -50vw;
	pointer-events: none;
	position: absolute;
	z-index: 0;
}
