//color
$pageBackground: #f5f0eb;
$footerLink: #000000;
$contactsList: #035b8b;
$aboutUsTitle: #0072ba;
$aboutUsTitleMax: #ffffff;
$c-black: black;
$c-white: #ffffff;

//font-size
$minFont: 15px;
$maxFont: 32px;

//font-famaly
$f-roboto: 'Roboto', sans-serif;
$f-ibm: 'IBM Plex Sans', sans-serif;
$f-kanit: 'Kanit', sans-serif;
