@use '/style/abstract' as *;

.header {
    width: 100%;
    padding: 35px rem(100);

    background-image: url('/images/headerBackground.png');
    background-repeat: no-repeat;
    background-size: cover;

    &,
    &__number,
    &__content,
    &__logo-link {
        display: flex;
    }

    &,
    &__content,
    &__logo-link {
        justify-content: center;
    }

    &__content {
        gap: rem(120);
        max-width: 1440px;
        align-items: center;
    }

    &__number,
    &__logo-link {
        flex-direction: column;
    }

    &__logo-link {
        align-items: center;
        gap: 2px;
    }

    &__logo-picture {
        width: rem(60);
        height: rem(60);
        background-color: $c-white;
        border-radius: 4px;
    }

    &__logo-text {
        font-weight: 600;
        font-size: rem(10);
        line-height: 1.46;
        background-color: $c-white;
        border-radius: 4px;
        padding: rem(2);
    }
}
