@use '/style/abstract' as *;

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(15);

    &__head {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }

    &_descr {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
    }
}

.services {
    display: flex;
    align-items: flex-start;
    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, rem(400));
        grid-gap: max(0.5em, 1.5vw);
        gap: max(0.5em, 1.5vw);
    }

    &__item {
        position: relative;
        // padding: rem(20);
        height: fluid(50, 120);
    }

    &__link {
        position: absolute;
        inset: 0;
        margin: auto;
        text-decoration: none;
        color: $c-black;
        display: block;
        z-index: 2;
    }

    &__img {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        // object-fit: contain;
        height: fluid(50, 120);
    }
}
