@use '/style/abstract' as *;
@use '/style/base' as *;

.main {
    background-image: url('/images/bigBg.png');
    background-color: #f5f0eb;
}

.hr {
    width: 100%;
    height: 1px;
    border-top: 1px solid #f8fcff;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(36);
    padding-bottom: rem(36);
    font-family: $f-ibm;
    font-weight: 600;
    font-size: rem(38);
    line-height: 1.2;
    color: $c-black;
}

.services {
    padding-bottom: rem(100);
    &__list {
        justify-content: center;
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        align-content: stretch;
        grid-auto-rows: 1fr;

        gap: max(0.5em, 1.5vw);

        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(2, 2fr);
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        position: relative;
        background-image: url('/images/servicesCardBg.png');
        background-repeat: no-repeat;
        background-size: cover;
        word-break: break-all;
        padding: rem(40);

        border: 0;

        border-radius: 60px;

        transform: scale(1);
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 60px;
            padding: 5px;
            background: linear-gradient(
                180deg,
                #52a7d1 5.38%,
                #43c4f8 9.55%,
                #ffffde 35.07%,
                #c8de97 61.62%,
                #f5e5a7 95.49%,
                #84daeb 100%
            );
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        @media screen and (max-width: 600px) {
            &:after {
                content: '';
                background-image: url('/images/arrow-right.svg');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 20px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__link {
        // width: 100%;
        // height: 100%;
        text-decoration: none;
        color: $c-black;
        display: block;
        z-index: 2;
        font-family: $f-ibm;
        font-weight: 400;
        font-size: rem(36);
        line-height: 1.3;
        word-break: normal;

        @media screen and (max-width: 1300px) {
            font-size: rem(23);
        }

        @media screen and (max-width: 600px) {
            padding: rem(10);
            padding-right: 40px;
            padding-left: 40px;
            // font-size: rem(30);
            display: flex;
            align-items: center;
        }
    }
}
