@use '/style/abstract' as *;

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(15);

    &__head {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }

    &_descr {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
    }
}

.services {
    display: flex;
    align-items: flex-start;
    &__list {
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        color: $c-black;
    }

    &__link-item {
        border: 1px solid balck;
        padding-left: rem(19);
        background-image: url(/images/servicesBackground.png);
        padding-top: rem(10);
        padding-bottom: rem(10);
        border-radius: 15%;
    }
}
