@use '/style/abstract' as *;

$burger: '830px';

@mixin center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dent-intro {
	align-items: center;
	// background-image: url('/assets/famaly.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding-block: rem(23) rem(10);

	&__phone {
		color: white;
		font-family: $f-roboto;
		font-size: rem(20);
		font-weight: 700;
		@include respond-above($burger) {
			display: none;
		}
	}

	&__button {
		@include respond-above($burger) {
			display: none;
		}
	}

	&__address {
		color: white;
		font-family: $f-ibm;
		font-size: rem(14);
		font-style: normal;
		font-weight: 600;
		margin-top: rem(10);
		@include respond-above($burger) {
			display: none;
		}
	}
}

.dent-circle {
	--m: 12;
	--tan: 0.7;
	--d: 5.5em; /* image size */
	--rel: 1; /* how much extra space we want between images, 1 = one image size */
	--r: calc(0.5 * (1 + var(--rel)) * var(--d) / var(--tan)); /* circle radius */
	--s: calc(2 * var(--r) + var(--d)); /* container size */
	background-image: url('/assets/intro/blue.svg');
	background-position: center 50%;
	background-repeat: no-repeat;
	background-size: contain;
	height: var(--s);
	position: relative;
	width: var(--s);
	@include respond-above($burger) {
		--m: 8;
		--d: 9.4em;
	}
	@include respond-above('1230px') {
		--tan: 0.5;
	}

	&__item {
		--shift: 10px;
		--az: calc(var(--i) * 1turn / var(--m));
		height: var(--d);
		left: 50%;
		margin: calc(-0.5 * var(--d));
		position: absolute;
		top: 48%;
		transform: rotate(var(--az)) translate(calc(var(--r) + var(--shift)))
			rotate(calc(-1 * var(--az)));
		width: var(--d);

		@include respond-above($burger) {
			--shift: 50%;
			top: 48%;
		}
	}

	&__ter {
		--i: 6;
		@include respond-above($burger) {
			--i: 5;
		}
	}

	&__imp {
		--i: 5;
		@include respond-above($burger) {
			--i: 4;
		}
	}

	&__orto {
		--i: 4;
		@include respond-above($burger) {
			--i: 3;
		}
	}

	&__prot {
		--i: 2;
		@include respond-above($burger) {
			--i: 1;
		}
	}

	&__paro {
		--i: 1;
		@include respond-above($burger) {
			--i: 0;
		}
	}

	&__hir {
		--i: 0;
		@include respond-above($burger) {
			--i: -1;
		}
	}

	&__figure {
		align-items: center;
		display: flex;
		flex-direction: column;
		@include respond-above($burger) {
			display: block;
			height: var(--d);
			position: relative;
			width: var(--d);
		}
	}

	&__text {
		color: #000;
		font-family: $f-roboto;
		font-size: rem(14);
		font-weight: 400;
		text-align: center;
		@include respond-above($burger) {
			@include center;
			flex-shrink: 0;
			font-size: 1rem;
			font-weight: 600;
			position: absolute;
		}
		@include respond-below('1100px') {
			max-width: 20ch;
		}
	}

	&__buble {
		flex-shrink: 0;
		height: 24px;
		overflow: visible;
		width: 24px;

		@include respond-above($burger) {
			height: 100%;
			width: 100%;
		}

		& > circle:hover {
			filter: blur(1px);
		}
	}

	&__center-text {
		@include center;
		color: #fff;
		font-family: 'Roboto';
		font-size: 24px;
		font-weight: 500;
		line-height: 28px;
		text-align: center;
		top: 40%;

		@include respond-above($burger) {
			font-size: 50px;
			font-weight: 700;
		}
	}
}
