@use '/style/abstract' as *;

$burger: '830px';

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.med-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: rem(23) rem(10);

    &__phone {
        font-family: $f-roboto;
        font-weight: 700;
        font-size: rem(20);
        color: white;
        @include respond-above($burger) {
            display: none;
        }
    }
    &__button {
        @include respond-above($burger) {
            display: none;
        }
    }
    &__address {
        font-family: $f-ibm;
        font-weight: 600;
        font-size: rem(14);
        color: white;
        font-style: normal;
        margin-top: rem(10);
        @include respond-above($burger) {
            display: none;
        }
    }
}
.med-circle {
    --m: 12;
    --tan: 0.7;
    --d: 5.5em; /* image size */
    --rel: 1; /* how much extra space we want between images, 1 = one image size */
    --r: calc(0.5 * (1 + var(--rel)) * var(--d) / var(--tan)); /* circle radius */
    --s: calc(2 * var(--r) + var(--d)); /* container size */
    position: relative;
    width: var(--s);
    height: var(--s);
    background-image: url('/images/intro/7.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50%;
    @include respond-above($burger) {
        --m: 8;
        --d: 8.2em;
    }
    @include respond-above('1230px') {
        --tan: 0.3;
    }

    &__item {
        --shift: 10px;
        position: absolute;
        top: 55%;
        left: 50%;
        margin: calc(-0.5 * var(--d));
        width: var(--d);
        height: var(--d);
        --az: calc(var(--i) * 1turn / var(--m));
        transform: rotate(var(--az)) translate(calc(var(--r) + var(--shift)))
            rotate(calc(-1 * var(--az)));

        @include respond-above($burger) {
            top: 48%;
            --shift: 50%;
        }
        @include respond-above('1230px') {
            // top: 32%;
            // left: 41%;
        }
    }

    &__ter {
        --i: 6;
        @include respond-above($burger) {
            --i: 5;
        }
    }
    &__imp {
        --i: 5;
        @include respond-above($burger) {
            --i: 4;
        }
    }
    &__orto {
        --i: 4;
        @include respond-above($burger) {
            --i: 3;
        }
    }
    &__prot {
        --i: 2;
        @include respond-above($burger) {
            --i: 1;
        }
    }
    &__paro {
        --i: 1;
        @include respond-above($burger) {
            --i: 0;
        }
    }
    &__hir {
        --i: 0;
        @include respond-above($burger) {
            --i: -1;
        }
    }

    &__figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond-above($burger) {
            display: block;
            position: relative;
            width: var(--d);
            height: var(--d);
        }
    }

    &__text {
        font-family: $f-roboto;
        font-weight: 400;
        font-size: rem(14);
        color: white;
        text-align: center;
        @include respond-above($burger) {
            @include center;
            position: absolute;
            font-weight: 600;
            font-size: 14px;
            flex-shrink: 0;
            color: black;
        }
        @include respond-below('1100px') {
            max-width: 20ch;
        }
    }

    &__buble {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        overflow: visible;

        @include respond-above($burger) {
            width: 100%;
            height: 100%;
        }

        & > circle:hover {
            // border: 4px solid #70b7dd;
            filter: blur(1px);
        }
    }
    &__center-text {
        @include center;
        top: 40%;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;

        @include respond-above($burger) {
            font-weight: 700;
            font-size: 50px;
        }
    }
}
