@use '/style/abstract' as *;

.container {
    padding-inline: fluid(15, 50, 'vw', 420);
    max-width: var(--container-max);
    margin-inline: auto;
}

.container-background {
    background: url(/images/backgroundMob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: rem(418);

    @media screen and (min-width: 500px) {
        background: url(/images/mainBackgroundMax.png) no-repeat;
        background-size: rem(600);
        background-position: center;
    }
}
