.full-width {
	left: 50%;
	margin-left: -50vw;
	position: relative;
	width: 100vw;
}

// .order {
// 	order: -1;
// }

// .translate {
// 	transform: translateX(-100%);
// }

.rel {
	position: relative;
}
