@import "./utils/vars.scss";
@import "funcs";

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-inline: auto;
  padding: 0;
  max-width: 1440px;
  min-height: 100vh;
  background-color: $c-pageBackground;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts {
  background-image: url("/src/assets/images/backgroundContacts.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: toRem(515);

  @media screen and (min-width: 400px) {
    background-image: url("/src/assets/images/backgroundContactsMax.png");
  }

  &__list {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: $c-contactsList;
    font-size: fluid(15, 24);
    text-align: center;
  }
}

.map {
  &__ifhame {
    width: fluid(360, 1440);
    height: fluid(230, 530);
  }
}

.footer {
  background-image: url(/src/assets/images/footerBackground.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  @media screen and (min-width: 400px) {
    background-image: url(/src/assets/images/backgroundMax.png);
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: toRem(40);
    margin-left: toRem(67);
    margin-right: toRem(67);
    padding-bottom: toRem(490);
    gap: toRem(14);
  }

  &__list-item {
  }

  &__list-item-link {
    color: $c-footerLink;
    font-size: fluid(15, 24);
    font-weight: 600;
  }
}
