@use '/style/abstract' as *;
@use '/style/base' as *;

body {
    overflow-y: scroll;
    height: inherit;
}

.main {
    background-image: url('/images/bigBg.png');
    background-color: #f5f0eb;
}

.whiteTextBold {
    color: $c-white;
    font-weight: 600;
    font-size: rem(30);

    @media screen and (max-width: 768px) {
        font-size: rem(40);
    }
}

.hr {
    width: 100%;
    height: 1px;
    border-top: 1px solid #f8fcff;
}

.title {
    position: relative;
    padding-bottom: 250px;
}

.title__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(36);
    padding-bottom: rem(36);
    font-family: $f-ibm;
    font-weight: 600;
    font-size: rem(38);
    line-height: 1.2;
    color: $c-black;
    @media screen and (max-width: 414px) {
        font-size: rem(30);
        text-align: center;
    }
}

.title__desc {
    font-family: $f-ibm;
    font-weight: 500;
    font-size: rem(30);
    line-height: 1.3;
    text-align: center;
    color: $c-black;
    @media screen and (max-width: 1200px) {
        font-size: rem(20);
    }
}

.title__btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    right: 0;
    background: linear-gradient(
        180deg,
        rgba(5, 132, 215, 0.73) 1.22%,
        rgba(125, 200, 233, 0.37) 100%
    );
    border: 1px solid #fdfeff;
    border-radius: 10px;
    font-weight: 500;
    font-size: rem(32);
    line-height: 1.2;
    font-family: $f-ibm;
    padding: rem(10) rem(80);

    /* identical to box height */

    text-align: center;

    color: #000000;

    transform: scale(1);
    transition: transform 0.3s;
    @media screen and (max-width: 768px) {
        font-size: rem(24);
        padding: rem(10) rem(70);
    }

    &:hover {
        transform: scale(1.1);
    }
    // padding: ;
}

.title__btn-subtext {
    font-size: rem(10);
    line-height: 1.2;
    font-weight: 500;
    align-self: end;
    margin-right: -65px;

    color: #000000;
    font-family: $f-ibm;
}

.specialists {
    &__head {
        align-items: flex-start;
        @media screen and (max-width: 768px) {
            align-items: center;
            margin-bottom: rem(40);
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: stretch;
    grid-auto-rows: 1fr;

    gap: max(1.4em, 2.5vw);

    @media screen and (max-width: 768px) {
        gap: max(5.4em, 6.5vw);
    }

    &__item {
        background: #b6cddc;
        border: 3px solid #27a7e1;
        border-radius: 100px;
        padding: rem(50);
        display: flex;
        position: relative;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            background: #b6cddc00;
            border: none;
            padding: 0;
            gap: rem(20);
        }
    }

    &__picture {
        position: relative;
        width: rem(300);
        height: rem(400);
        @media screen and (max-width: 1030px) {
            width: rem(200);
            height: rem(300);
        }
    }

    &__picture-overlay {
        position: absolute;
        width: rem(320);
        height: rem(300);
        border: 3px solid #ffffff;
        border-radius: 0px 140px;
        z-index: 1;
        bottom: -4px;
        left: -4px;
        @media screen and (max-width: 1030px) {
            width: rem(200);
            height: rem(300);
            bottom: -10px;
        }
        @media screen and (max-width: 768px) {
            transform: rotate(-15deg);
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: auto;
        border-radius: 0px 140px;
        right: 0;
        bottom: 0px;
        z-index: 2;
        @media screen and (max-width: 1030px) {
            width: rem(200);
            height: rem(300);
            bottom: 0px;
        }
        @media screen and (max-width: 768px) {
            border-radius: 20px;
        }
    }

    &__text {
        flex-basis: 70%;
        height: rem(400);

        overflow-y: scroll;

        @media screen and (max-width: 1400px) {
            flex-basis: 59%;
        }

        @media screen and (max-width: 768px) {
            background: #b6cddc;
            height: rem(30);
            flex-basis: 66%;
            padding: rem(40);
            overflow-y: auto;
        }
        @media screen and (max-width: 420px) {
            padding: rem(20);
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 157, 233, 0.4);
            border: 1px solid #ffffff;
            border-radius: 80px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(197 219 233 / 53%);
            border-radius: 440px;
            opacity: 0.5;
        }
        &::-webkit-scrollbar {
            width: 28px;
            @media screen and (max-width: 1030px) {
                width: 15px;
            }
        }

        &::-webkit-scrollbar-button {
            display: block;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
        }

        &::-webkit-scrollbar-button:vertical:start:increment {
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');
        }

        &::-webkit-scrollbar-button:vertical:start:decrement {
            display: none;
        }

        &::-webkit-scrollbar-button:vertical:end:increment {
            display: none;
        }

        &::-webkit-scrollbar-button:vertical:end:decrement {
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');
        }

        &-desc {
            font-family: $f-ibm;
            font-weight: 500;
            font-size: rem(24);
            line-height: 1.2;

            color: #000000;
            margin-bottom: rem(10);

            @media screen and (max-width: 1030px) {
                font-size: rem(17);
            }
            @media screen and (max-width: 768px) {
                font-size: rem(15);
            }

            &--education {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            &--heading {
                font-size: rem(40);
                @media screen and (max-width: 420px) {
                    font-size: rem(25);
                }
            }
            &--subheading {
                font-size: rem(35);
                @media screen and (max-width: 420px) {
                    font-size: rem(22);
                }
            }

            &--br {
                display: none;
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }

    &__text-list {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        padding: 0;
        margin-top: rem(20);
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__text-list-item {
        font-family: $f-ibm;
        font-weight: 500;
        font-size: rem(24);
        line-height: 1.2;

        color: #000000;
        list-style-type: none;
        @media screen and (max-width: 1030px) {
            font-size: rem(17);
        }
        @media screen and (max-width: 768px) {
            font-size: rem(13);
        }
    }
}

.services {
    padding-bottom: rem(100);
    &__list {
        justify-content: center;
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        align-content: stretch;
        grid-auto-rows: 1fr;

        gap: max(0.5em, 1.5vw);

        @media screen and (max-width: 991px) {
            grid-template-columns: repeat(2, 2fr);
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        position: relative;
        background-image: url('/images/servicesCardBg.png');
        background-repeat: no-repeat;
        background-size: cover;
        word-break: break-all;
        padding: rem(40);

        border: 0;

        border-radius: 60px;

        transform: scale(1);
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 60px;
            padding: 5px;
            background: linear-gradient(
                180deg,
                #52a7d1 5.38%,
                #43c4f8 9.55%,
                #ffffde 35.07%,
                #c8de97 61.62%,
                #f5e5a7 95.49%,
                #84daeb 100%
            );
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        @media screen and (max-width: 600px) {
            &:after {
                content: '';
                background-image: url('/images/arrow-right.svg');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 20px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: $c-black;
        display: block;
        z-index: 2;
        font-family: $f-ibm;
        font-weight: 400;
        font-size: rem(36);
        line-height: 1.3;
        word-break: normal;

        @media screen and (max-width: 1300px) {
            font-size: rem(23);
        }

        @media screen and (max-width: 600px) {
            padding: rem(10);
            padding-right: 40px;
            padding-left: 40px;
            font-size: rem(23);
            display: flex;
            align-items: center;
        }
        @media screen and (max-width: 460px) {
            padding: rem(10);
            padding-right: 40px;
            padding-left: 40px;
            font-size: rem(17);
            display: flex;
            align-items: center;
        }
    }
}

.whiteText {
    color: $c-white !important;
}
