@use '/style/abstract' as *;
@use '/style/base' as *;

body {
	height: inherit;
	overflow-y: scroll;
}

.main {
	background-color: #f5f0eb;
	background-image: url('/assets/bigBg.png');
}

.whiteTextBold {
	color: $c-white;
	font-size: rem(30);
	font-weight: 600;

	@media screen and (max-width: 768px) {
		font-size: rem(40);
	}
}

.hr {
	border-top: 1px solid #f8fcff;
	height: 1px;
	width: 100%;
}

.title {
	padding-bottom: 250px;
	position: relative;
}

.title__head {
	align-items: center;
	color: $c-black;
	display: flex;
	flex-direction: column;
	font-family: $f-ibm;
	font-size: rem(38);
	font-weight: 600;
	line-height: 1.2;
	padding-bottom: rem(36);
	padding-top: rem(36);
	@media screen and (max-width: 414px) {
		font-size: rem(30);
		text-align: center;
	}
}

.title__desc {
	color: $c-black;
	font-family: $f-ibm;
	font-size: rem(30);
	font-weight: 500;
	line-height: 1.3;
	text-align: center;
	@media screen and (max-width: 1200px) {
		font-size: rem(20);
	}
}

.title__btn {
	background: linear-gradient(
		180deg,
		rgba(5, 132, 215, 0.73) 1.22%,
		rgba(125, 200, 233, 0.37) 100%
	);
	border: 1px solid #fdfeff;
	border-radius: 10px;
	bottom: 40px;

	color: #000;
	display: flex;
	flex-direction: column;
	font-family: $f-ibm;
	font-size: rem(32);
	font-weight: 500;
	line-height: 1.2;
	padding: rem(10) rem(80);
	position: absolute;
	right: 0;

	/* identical to box height */

	text-align: center;

	transform: scale(1);
	transition: transform 0.3s;
	@media screen and (max-width: 768px) {
		font-size: rem(24);
		padding: rem(10) rem(70);
	}

	&:hover {
		transform: scale(1.1);
	}
	// padding: ;
}

.title__btn-subtext {
	align-self: end;

	color: #000;
	font-family: $f-ibm;
	font-size: rem(10);
	font-weight: 500;
	line-height: 1.2;
	margin-right: -65px;
}

.specialists {
	&__head {
		align-items: flex-start;
		@media screen and (max-width: 768px) {
			align-items: center;
			margin-bottom: rem(40);
		}
	}
}

.cards {
	align-content: stretch;
	display: grid;

	gap: max(1.4em, 2.5vw);
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(1, 1fr);

	@media screen and (max-width: 768px) {
		gap: max(5.4em, 6.5vw);
	}

	&__item {
		background: #b6cddc;
		border: 3px solid #27a7e1;
		border-radius: 100px;
		display: flex;
		justify-content: space-between;
		padding: rem(50);
		position: relative;
		@media screen and (max-width: 768px) {
			align-items: center;
			background: #b6cddc00;
			border: none;
			flex-direction: column;
			gap: rem(20);
			padding: 0;
		}
	}

	&__picture {
		height: rem(400);
		position: relative;
		width: rem(300);
		@media screen and (max-width: 1030px) {
			height: rem(300);
			width: rem(200);
		}
	}

	&__picture-overlay {
		border: 3px solid #fff;
		border-radius: 0 140px;
		bottom: -4px;
		height: rem(300);
		left: -4px;
		position: absolute;
		width: rem(320);
		z-index: 1;
		@media screen and (max-width: 1030px) {
			bottom: -10px;
			height: rem(300);
			width: rem(200);
		}
		@media screen and (max-width: 768px) {
			transform: rotate(-15deg);
		}
	}

	img {
		border-radius: 0 140px;
		bottom: 0;
		height: auto;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 2;
		@media screen and (max-width: 1030px) {
			bottom: 0;
			height: rem(300);
			width: rem(200);
		}
		@media screen and (max-width: 768px) {
			border-radius: 20px;
		}
	}

	&__text {
		flex-basis: 70%;
		height: rem(400);

		overflow-y: scroll;

		@media screen and (max-width: 1400px) {
			flex-basis: 59%;
		}

		@media screen and (max-width: 768px) {
			background: #b6cddc;
			flex-basis: 66%;
			height: rem(30);
			overflow-y: auto;
			padding: rem(40);
		}
		@media screen and (max-width: 420px) {
			padding: rem(20);
		}

		&::-webkit-scrollbar-track {
			background: rgba(0, 157, 233, 0.4);
			border: 1px solid #fff;
			border-radius: 80px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgb(197 219 233 / 53%);
			border-radius: 440px;
			opacity: 0.5;
		}

		&::-webkit-scrollbar {
			width: 28px;
			@media screen and (max-width: 1030px) {
				width: 15px;
			}
		}

		&::-webkit-scrollbar-button {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 50%;
			display: block;
		}

		&::-webkit-scrollbar-button:vertical:start:increment {
			background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');
		}

		&::-webkit-scrollbar-button:vertical:start:decrement {
			display: none;
		}

		&::-webkit-scrollbar-button:vertical:end:increment {
			display: none;
		}

		&::-webkit-scrollbar-button:vertical:end:decrement {
			background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');
		}

		&-desc {
			color: #000;
			font-family: $f-ibm;
			font-size: rem(24);
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: rem(10);

			@media screen and (max-width: 1030px) {
				font-size: rem(17);
			}
			@media screen and (max-width: 768px) {
				font-size: rem(15);
			}

			&--education {
				@media screen and (max-width: 768px) {
					display: none;
				}
			}

			&--heading {
				font-size: rem(40);
				@media screen and (max-width: 420px) {
					font-size: rem(25);
				}
			}

			&--subheading {
				font-size: rem(35);
				@media screen and (max-width: 420px) {
					font-size: rem(22);
				}
			}

			&--br {
				display: none;
				@media screen and (max-width: 768px) {
					display: block;
				}
			}
		}
	}

	&__text-list {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		margin-top: rem(20);
		padding: 0;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__text-list-item {
		color: #000;
		font-family: $f-ibm;
		font-size: rem(24);
		font-weight: 500;
		line-height: 1.2;
		list-style-type: none;
		@media screen and (max-width: 1030px) {
			font-size: rem(17);
		}
		@media screen and (max-width: 768px) {
			font-size: rem(13);
		}
	}
}

.services {
	padding-bottom: rem(100);

	&__list {
		align-content: stretch;
		display: grid;

		gap: max(0.5em, 1.5vw);
		grid-auto-rows: 1fr;
		grid-template-columns: repeat(3, 3fr);
		justify-content: center;
		list-style-type: none;
		padding: 0;

		@media screen and (max-width: 991px) {
			grid-template-columns: repeat(2, 2fr);
		}
		@media screen and (max-width: 600px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		background-image: url('/assets/servicesCardBg.png');
		background-repeat: no-repeat;
		background-size: cover;

		border: 0;

		border-radius: 60px;
		padding: rem(40);
		position: relative;

		transform: scale(1);
		transition: transform 0.3s;
		word-break: break-all;

		&:hover {
			transform: scale(1.1);
		}

		&::before {
			background: linear-gradient(
				180deg,
				#52a7d1 5.38%,
				#43c4f8 9.55%,
				#ffffde 35.07%,
				#c8de97 61.62%,
				#f5e5a7 95.49%,
				#84daeb 100%
			);
			border-radius: 60px;
			bottom: 0;
			content: '';
			left: 0;
			mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask-composite: xor;
			mask-composite: exclude;
			padding: 5px;
			position: absolute;
			right: 0;
			top: 0;
		}

		@media screen and (max-width: 600px) {
			&::after {
				align-items: center;
				background-image: url('/assets/arrow-right.svg');
				background-repeat: no-repeat;
				background-size: contain;
				content: '';
				display: flex;
				height: 30px;
				justify-content: center;
				position: absolute;
				right: 20px;
				width: 30px;
			}
		}
	}

	&__link {
		color: $c-black;
		display: block;
		font-family: $f-ibm;
		font-size: rem(36);
		font-weight: 400;
		line-height: 1.3;
		text-decoration: none;
		word-break: normal;
		z-index: 2;

		@media screen and (max-width: 1300px) {
			font-size: rem(23);
		}

		@media screen and (max-width: 600px) {
			align-items: center;
			display: flex;
			font-size: rem(23);
			padding: rem(10);
			padding-left: 40px;
			padding-right: 40px;
		}
		@media screen and (max-width: 460px) {
			align-items: center;
			display: flex;
			font-size: rem(17);
			padding: rem(10);
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}

.whiteText {
	color: $c-white !important;
}
