@use '/style/abstract' as *;

$burger: '830px';

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: rem(23) rem(10);

    &__phone {
        font-family: $f-roboto;
        font-weight: 700;
        font-size: rem(20);
        color: white;
        @include respond-above($burger) {
            display: none;
        }
    }
    &__button {
        @include respond-above($burger) {
            display: none;
        }
    }
    &__address {
        font-family: $f-ibm;
        font-weight: 600;
        font-size: rem(14);
        color: white;
        font-style: normal;
        margin-top: rem(10);
        @include respond-above($burger) {
            display: none;
        }
    }
}
.circle {
    min-height: 218px;
    width: rel(250, 260);
    height: rel(285, 360);
    margin-bottom: rem(26);
    position: relative;
    background-image: url('/images/7.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include respond-above($burger) {
        width: rel(880);
        height: 705px;
    }

    &__item {
        font-family: $f-roboto;
        font-weight: 500;
        font-size: rem(16);
        color: white;
        position: absolute;
        @include respond-above($burger) {
            font-weight: 700;
            font-size: rem(24);
        }
    }
    &__dent {
        top: rel(203, 360);
        right: rel(73, 360);
        @include respond-above($burger) {
            top: rel(203, 360);
            right: 10%;
        }
    }
    &__anal {
        top: rel(165, 360);
        right: rel(60, 360);
        @include respond-above($burger) {
            top: rel(165, 360);
            right: 6%;
        }
    }
    &__serv {
        top: rel(106, 360);
        right: rel(10, 360);
        @include respond-above($burger) {
            top: rel(106, 360);
            right: -16%;
        }
    }
}

.slider {
    padding-top: rem(15);
    width: fluid(360, 1264);
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: rem(900);
    padding: 15px 15px 0 15px;

    &__title {
        color: $aboutUsTitle;
        font-weight: 700;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-size: fluid(16, 36);
        line-height: fluid(19, 47);
        margin-bottom: 15px;
        z-index: 2;

        @media screen and (min-width: 1000px) {
            color: $aboutUsTitleMax;
        }
    }

    &__info {
        text-align: center;
        z-index: 2;
    }

    &__info-descr {
        margin-bottom: 15px;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: fluid(13, 24);
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: rem(515);

    &__title {
        font-size: fluid(24, 32);
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
    }

    &__list {
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__list-link,
    &__list-item {
        color: $contactsList;
        font-size: fluid(15, 24);
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;

        text-align: center;
    }
}

.map {
    &__ifhame {
        width: 100%;
        min-height: 300px;
    }
}

.footer {
    width: 90%;
    display: flex;
    justify-content: center;
    background: url(/images/footerBackground.png) no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 50px;

    @media screen and (min-width: 500px) {
        background: url(/images/footerBackgroundMax.png) no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: fluid(40, 230);
        padding-bottom: fluid(40, 490);
        list-style: none;
        gap: rem(30);

        @media screen and (min-width: 500px) {
            // padding-top: rem(230);
            gap: rem(100);
        }
    }

    &__list-item-link {
        color: $footerLink;
        font-size: fluid(15, 24);
        text-decoration: none;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
    }
}

//slider 2

// .slider2 {
//     &swiper {
//         width: 100%;
//         height: 100%;
//     }

//     &swiper-slide {
//         text-align: center;
//         font-size: 18px;
//         background: #fff;

//         /* Center slide text vertically */
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: -webkit-flex;
//         display: flex;
//         -webkit-box-pack: center;
//         -ms-flex-pack: center;
//         -webkit-justify-content: center;
//         justify-content: center;
//         -webkit-box-align: center;
//         -ms-flex-align: center;
//         -webkit-align-items: center;
//         align-items: center;
//     }

//     &swiper-slide img {
//         display: block;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }
