@use '/style/abstract' as *;

$burger: '830px';

#info {
	display: grid;
	margin-block: 20px;
	place-items: center;
}

.intro {
	align-items: center;
	// background-image: url('/assets/intro/blur-field-texture.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding-block: rem(23) rem(10);

	&__phone {
		color: #000;
		font-family: $f-roboto;
		font-size: rem(26);
		font-weight: 700;
		text-align: center;
		@include respond-above($burger) {
			display: none;
		}
	}

	&__button {
		@include respond-above($burger) {
			display: none;
		}
	}

	&__address {
		background: #198300;
		box-shadow: 0 1px 3px 4px rgba(25, 131, 0, 1);
		color: #fff;
		font-family: $f-ibm;
		font-size: rem(14);
		font-style: normal;
		font-weight: 600;
		margin-top: rem(5);
		padding-block: rem(10);
		text-align: center;
		// box-shadow: ;
		width: 98%;
		@include respond-above($burger) {
			display: none;
		}
	}
}

.circle {
	--m: 10;
	--tan: 1;
	--d: 3.2em;
	--rel: 5;
	// --d: 7.5em; /* image size */
	// --rel: 1; /* how much extra space we want between images, 1 = one image size */
	--r: calc(0.5 * (1 + var(--rel)) * var(--d) / var(--tan)); /* circle radius */
	--s: calc(2 * var(--r) + var(--d)); /* container size */
	background-image: url('/assets/intro/7ya.svg');
	background-position: center 50%;
	background-repeat: no-repeat;
	background-size: contain;
	height: var(--s);
	position: relative;
	width: var(--s);
	@include respond-above($burger) {
		--d: 5.5em;
		--tan: 0.47;
		--rel: 1;
	}
	@include respond-above('1230px') {
		--tan: 0.3;
	}

	&__item {
		--shift: 1px;
		--az: calc(var(--i) * 1turn / var(--m));
		height: var(--d);
		// left: 58%;
		// top: 47%;

		left: 46%;

		margin: calc(-0.5 * var(--d));
		position: absolute;
		top: 38%;
		transform: rotate(var(--az)) translate(calc(var(--r) + var(--shift)))
			rotate(calc(-1 * var(--az)));
		width: var(--d);

		@include respond-above($burger) {
			left: 49%;
			top: 44%;
		}
		@include respond-above('1230px') {
			left: 41%;
			top: 32%;
		}
	}

	.circle__item:nth-child(6) {
		--i: 0;
	}

	.circle__item:nth-child(5) {
		--i: 1;
	}

	.circle__item:nth-child(4) {
		--i: 2;
	}

	.circle__item:nth-child(3) {
		--i: 3;

		& .circle__text {
			@include respond-above($burger) {
				left: -110%;
				position: absolute;
			}
		}
	}

	.circle__item:nth-child(2) {
		--i: 4;

		& .circle__text {
			@include respond-above($burger) {
				left: -220%;
				position: absolute;
			}
		}
	}

	.circle__item:nth-child(1) {
		--i: 5;

		& .circle__text {
			@include respond-above($burger) {
				left: -220%;
				position: absolute;
			}
			@include respond-above('1107px') {
				left: -237%;
			}
		}
	}

	&__text {
		color: #000;
		font-family: $f-roboto;
		font-size: rem(14);
		font-weight: 600;
		text-align: center;

		@include respond-above($burger) {
			flex-shrink: 0;
			font-size: rem(24);
			font-weight: 700;
			max-width: 10ch;
		}
	}

	&__figure {
		display: flex;
		flex-direction: column;
		@include respond-above($burger) {
			align-items: center;
			flex-direction: row;
			gap: 5px;
		}
	}

	&__figure > img {
		align-self: end;
		max-width: 83%;
		object-fit: contain;
		@include respond-above($burger) {
			--w: 100px;
			height: var(--w);
			max-width: none;
			width: var(--w);
		}
		@include respond-above('1230px') {
			--w: 130px;
			height: var(--w);
			width: var(--w);
		}
	}
}
